<div class="bg-black/90 fixed top-0 left-0 w-full h-screen" (click)="onCloseDialog()"></div>
<dialog open class="w-7/10 max-w-lg bg-white rounded-xl border-none overflow-hidden p-4 top-20 shadow-[0_1px_6px_rgba(0,0,0,0.4)] m-auto">

  <h1 class="m-0 text-black font-semibold text-2xl">Add Movie</h1>
  <button type="button" class="absolute top-1 right-0.5" (click)="onCloseDialog()">&times;</button>

  <form (submit)="sendEditedData()"> 
    <p>
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" [(ngModel)]="editedMovie.name"/>
    </p>

    <p>
      <label for="synopsis">Sinopse</label>
      <textarea rows="3" id="synopsis" name="synopsis" [(ngModel)]="editedMovie.synopsis"></textarea>
    </p>

    <p>
      <label for="due-date">Data de lançamento</label>
      <input type="date" id="releaseDate" name="releaseDate" [(ngModel)]="editedMovie.releaseDate"/>
    </p>

    <p>
      <label for="durationInSeconds">Duração em segundos</label>
      <input type="number" id="durationInSeconds" name="durationInSeconds" [(ngModel)]="editedMovie.durationInSeconds"/>
    </p>

    <p>
      <label for="imagePath">Link da imagem</label>
      <input type="text" id="imagePath" name="imagePath" [(ngModel)]="editedMovie.imagePath"/>
    </p>

    <p>
      <label for="release-date">Diretor</label>
      <input type="text" id="diretor" name="diretor" [(ngModel)]="editedMovie.directorNames"/>
    </p>

    <p class="actions">
      <button type="button" (click)="onCloseDialog()">Cancelar</button>
      <button type="submit">Criar</button>
    </p>
  </form>
</dialog>